**/Accounting.Application/obj/
**/Accounting.Api/obj/
**/Accounting.Persistance/obj/
**/Accounting.Infrastructure/obj/
**/Accounting.Commons/obj/
**/Accounting.Domain/obj/
**/Accounting.Application.Test/obj/
**/Accounting.Api.Test/obj/
**/Accounting.Persistance.Test/obj/
**/Accounting.Infrastructure.Test/obj/
**/Accounting.Commons.Test/obj/
**/Accounting.Domain.Test/obj/
**/Accounting.Migration/obj/
**/node_modules/
**/Accounting.Application/bin/
**/Accounting.Api/bin/
**/Accounting.Persistance/bin/
**/Accounting.Infrastructure/bin/
**/Accounting.Commons/bin/
**/Accounting.Domain/bin/
**/Accounting.Application.Test/bin/
**/Accounting.Api.Test/bin/
**/Accounting.Persistance.Test/bin/
**/Accounting.Infrastructure.Test/bin/
**/Accounting.Commons.Test/bin/
**/Accounting.Domain.Test/bin/
.vscode/

.vs
